#board {
  width: 320px;
  height: 316px;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.square {
  
  width: 96px;
  height: 96px;
  margin: 2px;
  margin-bottom: 4px;
  border: 2px solid black;
  
  background-color: white;
  display: inline-block;
  color: black;
  vertical-align: top;
}  

#game_status img {
  width: 60px;
  height: 60px;
}

#game_status {
  font-size: 72px;
}
